<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Age Verification Demo</title>



    <!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/test/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/test/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/test/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/test/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/test/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/test/vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/test/vendor/MagnificPopup/magnific-popup.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/test/vendor/perfect-scrollbar/perfect-scrollbar.css">

    <!-- Age Verification CSS -->
    <link href="/stylesheets/age-verification.css" rel="stylesheet">

    <!-- HTML5 Shim for HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
</head>

<div class="row">
  <div class="col-sm-6 col-md-4 offset-md-4 offset-sm-3 m-t-50">
    <div id="success" class="alert alert-success" {{# if noMessages}}hidden{{/if}}>
      {{succMsg}}
    </div>
  </div>
</div>


<body>

  <!-- Slider -->
	<section class="section-slide ">
		<div class="wrap-slick1 rs2-slick1">
			<div class="slick1">
				<div class="item-slick1 bg-overlay1" style="background-image: url(https://georgetownmarket.com/wp-content/uploads/2018/06/background.jpg);" data-thumb="https://georgetownmarket.com/wp-content/uploads/2018/06/background.jpg" data-caption="Aleole">
					<div class="container h-full">
						<div class="flex-col-c-m h-full p-t-100 p-b-60 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
								<span class="ltext-202 txt-center cl0 respon2">
									CBD PRODUCTS
								</span>
							</div>

							<div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
								<h2 class="ltext-104 txt-center cl0 p-t-22 p-b-40 respon1">
									New arrivals
								</h2>
							</div>

							<div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="1600">
								<a href="/products" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn2 p-lr-15 trans-04">
									Shop Now
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="item-slick1 bg-overlay1" style="background-image: url(https://greenrushdaily.com/wp-content/uploads/2017/01/the-differences-between-hemp-cbd-and-cannabis-cbd.jpg);" data-thumb="https://greenrushdaily.com/wp-content/uploads/2017/01/the-differences-between-hemp-cbd-and-cannabis-cbd.jpg" data-caption="Aleole">
					<div class="container h-full">
						<div class="flex-col-c-m h-full p-t-100 p-b-60 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
								<span class="ltext-202 txt-center cl0 respon2">
									ALEOLE CBD
								</span>
							</div>

							<div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
								<h2 class="ltext-104 txt-center cl0 p-t-22 p-b-40 respon1">
									New arrivals
								</h2>
							</div>

							<div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="1600">
								<a href="/products" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn2 p-lr-15 trans-04">
									Shop Now
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="item-slick1 bg-overlay1" style="background-image: url(https://img.thedailybeast.com/image/upload/v1527286769/EMBED_1_180525-MacBride-Parents-treating-their-kids-with-CBD-embed3_zmavu5.jpg);" data-thumb="https://img.thedailybeast.com/image/upload/v1527286769/EMBED_1_180525-MacBride-Parents-treating-their-kids-with-CBD-embed3_zmavu5.jpg" data-caption="Aleole">
					<div class="container h-full">
						<div class="flex-col-c-m h-full p-t-100 p-b-60 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
								<span class="ltext-202 txt-center cl0 respon2">
									CBD
								</span>
							</div>

							<div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
								<h2 class="ltext-104 txt-center cl0 p-t-22 p-b-40 respon1">
									NEW SEASON
								</h2>
							</div>

							<div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="1600">
								<a href="/products" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn2 p-lr-15 trans-04">
									Shop Now
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="wrap-slick1-dots p-lr-10"></div>
		</div>
	</section>

  <div class="container">
    <div class="p-b-10 p-t-150">
    				<h3 class="ltext-103 cl5">
    					Categories
    				</h3>
    	</div>
      </div>
	<!-- Banner -->
	<div class="sec-banner bg0 p-t-50 p-b-55">
		<div class="container">
			<div class="row">
				<div class="col-md-6 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="https://www.sunstatehemp.com/templates/themes/frontend/standard/images/product/web_template_export-01-zoom.jpg"  alt="IMG-BANNER">

						<a href="/products/Edibles" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									Edibles
								</span>

								<span class="block1-info stext-102 trans-04">
									bla bla bla bla good bla bla
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Shop Now
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="/test/images/banner-05.jpg" alt="IMG-BANNER">

						<a href="/products/Tincture" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
                <span class="block1-name ltext-102 trans-04 p-b-8">
									Tincture
								</span>

								<span class="block1-info stext-102 trans-04">
									bla bla bla bla very good bla bla
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Shop Now
								</div>
							</div>
						</a>
					</div>
				</div>


				<div class="col-md-6 col-lg-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="/test/images/banner-07.jpg" alt="IMG-BANNER">

						<a href="/products/Vegan" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									Vegan
								</span>

								<span class="block1-info stext-102 trans-04">
									bla bla bla
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Shop Now
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 col-lg-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="/test/images/banner-08.jpg" alt="IMG-BANNER">

						<a href="/products/Cream" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									Cream
								</span>

								<span class="block1-info stext-102 trans-04">
									oh bla bla bli
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Shop Now
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 col-lg-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="/test/images/banner-09.jpg" alt="IMG-BANNER">

						<a href="/products/Pet-care" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									Pet-care
								</span>

								<span class="block1-info stext-102 trans-04">
									wohhff bla bla wohhhff
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Shop Now
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

<div class="container">
  <div class="p-b-10 p-t-100">
  				<h3 class="ltext-103 cl5">
  					Best Sellers
  				</h3>
  	</div>
    </div>
  <!-- Banner -->
  <div class="sec-banner bg0 p-t-50 p-b-55">
    <div class="container">
      <div class="row">

        {{# each best}}
        <div class="col-md-6 col-lg-4 p-b-30 m-lr-auto">

          <!-- Block1 -->
          <div class="block1 wrap-pic-w">
            <img src="{{this.imgPath}}" alt="IMG-BANNER">

            <a href="/products/product-details/{{this.sku}}" class="block1-txt ab-t-l s-full flex-col-c-sb p-lr-38 p-tb-34 trans-03 respon3">
              <div class="block1-txt-child1 flex-col-c">
                <span class="block1-name ltext-best trans-04 p-b-8">
                  {{this.name}}
                </span>

                <span class="block1-info stext-102 trans-04">
                  {{this.category}}
                </span>
              </div>

              <div class="block1-txt-child2 p-b-4 trans-05">
                <div class="block1-link stext-101s cl0 trans-09">
                  More Info
                </div>
              </div>
            </a>
          </div>
        </div>

        {{/each}}

      </div>
    </div>
  </div>


</body>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="http://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="/javascripts/age-verification.js"></script>

<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="/test/vendor/daterangepicker/moment.min.js"></script>
	<script src="/test/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/test/vendor/slick/slick.min.js"></script>
	<script src="/test/js/slick-custom.js"></script>
<!--===============================================================================================-->
	<script src="/test/vendor/parallax100/parallax100.js"></script>
	<script>
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>
<!--===============================================================================================-->
	<script src="/test/vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
	<script src="/test/vendor/sweetalert/sweetalert.min.js"></script>
	<script>
		$('.js-addwish-b2').on('click', function(e){
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function(){
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});
	</script>
<!--===============================================================================================-->
	<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>

