<head>
	<title>Shop</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
=============================-->
</head>

<div class="bg0 m-t-75 p-b-140">
  <div class="container">
    <div class="flex-w flex-sb-m p-b-52">
      <div class="flex-w flex-l-m filter-tope-group m-tb-10">
        <button onclick="location.href='/products';" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 {{#if (ifEqual this.type 'all-products')}} how-active1 {{/if}}">
          All Products
        </button>

        <button onclick="location.href='/products/Edibles';" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 {{#if (ifEqual this.type 'Edibles')}} how-active1 {{/if}}">
          Edibles
        </button>

        <button onclick="location.href='/products/Vegan';" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 {{#if (ifEqual this.type 'Vegan')}} how-active1 {{/if}}">
          Vegan
        </button>

        <button onclick="location.href='/products/Tincture';" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 {{#if (ifEqual this.type 'Tincture')}} how-active1 {{/if}}">
          Tincture
        </button>

        <button onclick="location.href='/products/Pet-care';" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 {{#if (ifEqual this.type 'Pet-care')}} how-active1 {{/if}}">
          Pet-care
        </button>

      </div>

{{#if searchQuery}} <h3 class="stext-my cl13 m-r-32 m-tb-5">Showing search results for: {{this.searchQuery}} ({{itemsLen}} results)</h3> {{/if}}

{{# each products }}
<div class="row isotope-grid ">
  <!-- Block2 -->
  {{# each this}}
  <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
  <div class="block2 ">
    <div class="block2-pic hov-img0">
      <img src={{this.imgPath}} alt="IMG-PRODUCT">
      <button onclick="addItem('http://localhost:3000/add-to-cart/{{this.sku}}')" class="block2-btn flex-c-m stext-103 cl0 size-102 bg3 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
        Add To Cart
      </button>
    </div>

    <div class="block2-txt flex-w flex-t p-t-14 text-center">
      <div class="block2-txt-child1 flex-col-l offset-md-1" style="text-align: center;">
        <a href="#" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
          {{this.name}}
        </a>

        <span class="stext-104 cl3 offset-5 " style="text-align: center;">
          ${{this.price}}
        </span>
      </div>

    </div>
  </div>
</div>
{{/each}}
</div>
{{/each}}
</div>
</div>
</div>

<script>
async function addItem(x) {
  fetch(x)
  .then(function(response) {
    location.reload();
  })
  .then(function(myJson) {
    console.log(JSON.stringify(myJson));
  });
}
</script>
